{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <style>
      .li_link{
          color: antiquewhite;
          font-size: 19px;

      }
    </style>
</head>
<body>
<h1>List of Categories</h1>
<ul>
    {% for category in object_list %}
        <li>
            <a class="li_link" href='{% url 'category_detail' category.id %}'> {{ category.name }}</a>
        </li>
    {% endfor %}
</ul>


</body>
</html>
{% endblock %}